/* Base styles */
.tictactoe-container {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Consolas', monospace;
}

.board {
  margin-top: 1rem;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  border: 2px solid #444;
  background-color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #ddd;
}

.reset-button {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: darkcyan;
}

.winning-cell {
  background-color: #6dd66d !important;
}


/* Responsive styles for mobile */
@media (max-width: 600px) {
  .cell {
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
  }

  .reset-button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
