.navbar {
  background-color: #05afbb;
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  align-items: center;
  /* No position fixed or top */
}

.nav-link {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

/* Hover effect */
.nav-link:hover {
  background: #ddd;
  color: black;
  border-radius: 4px;
}

.page-content {
  text-align: center;
  display: flex;
  justify-content: center;   
  align-items: center;
  width: 100vw;
  min-height: 100vh; /* Full viewport height */
  background-color: rgb(48, 47, 47);
  box-sizing: border-box;
  padding: 1rem; /* Add some padding */
  margin: 0; /* No margin */
  flex-direction: column; /* if your content stacks vertically */
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    padding: 0.5rem 0;
  }

  .page-content {
    padding: 1rem;
    height: auto;
  }
}
